@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("beach.jpg") no-repeat 50% 50%;
  opacity: 0.8;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Raleway', san-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.button {
  border-radius: 9px;
  font-family: 'Oswald', san-serif;
  color: black;
  font-size: 135%;
  transition: all 0.4s;
  position: absolute;
  left: 47%;
  top: 59%;
  padding: 10px 20px;
  border: solid black 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  color: white;
  border: solid white 3px;
}

.story h1 {
  font-size: 250%;
  line-height: 0%;
  text-align: center;
  text-decoration: underline;
  margin: 3%;
  font-family: 'Raleway', san-serif;
  color: #708090;
}

.story p {
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
  color: #708090;
}
